header img {
  max-width: 100px
}

.hamburger img {
  max-width: 30px;
}

.inline {
  display: inline-block;
}

.logo {
  text-align: center;
  margin: auto;
}

img {
  max-width: 60%;
}

.tile {
  text-align: left;;
  margin: 2rem 10rem 2rem 0;
}

.article-tile {
  max-width: 80%;
}

.img-responsive.article-image {
  max-width: 90%;
}
